<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Edit <%= resource_name.to_s.humanize %></h1>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6">
    <%= form_for(resource, as: resource_name, :html => { :role => "form"}, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.text_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :education %>
        <%= f.text_field :education, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :trophies %>
        <%= f.text_field :trophies, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :aboutme %>
        <%= f.text_area :aboutme, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class: "form-control" %>
      </div>

        <div class="form-group">
          <%= f.label :personal_records %>
          <%= f.text_area :personal_records, class: "form-control" %>
        </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update" , class:"btn btn-lg btn-primary" %>
      </div>
    <% end %>
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
