<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"> Coaches of <%= @user.username %> </h3>
  </div>
  <% if @coaches.present? %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Coach</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>

            <% @coaches.each do |coach| %>

                <tr>
                  <td><%= coach.username %></td>
                  <td><%= coach.email %></td>
                  <td><%= link_to 'Show', user_path(coach) %></td>

                  <td><%= link_to 'Edit', edit_course_path(coach) %></td>
                  <td><%= link_to 'Destroy', course_path(coach),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %> </td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  <% else %>
      <h4><%= @user.username %> doesn't have any coaches yet...</h4>
  <% end %>
</div>