<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Coaches
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Coach</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>

            <% @my_coaches.each do |subscription| %>

                <tr>

                  <td><%= subscription.username %></td>
                  <td><%= subscription.email %></td>
                  <td><%= link_to 'Show', subscription_path(subscription) %></td>

                  <td><%= link_to 'Edit', edit_course_path(subscription) %></td>
                  <td><%= link_to 'Destroy', course_path(subscription),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %> </td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>