<div class="row">
  <%= render "errors" %>

  <div class="col-lg-6">
    <%= form_for(@user, url: { action: 'update' }, html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :realname %>
        <%= f.text_field :realname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :new_password %>
        <%= f.password_field :new_password, placeholder: 'leave blank if unchanged', autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :new_password_confirmation, placeholder: 'leave blank if unchanged', autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
