<div class="row">
  <%= render "errors" %>

  <div class="col-lg-6">
    <%= form_for(@user, url: { action: 'update' }, html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :realname %>
        <%= f.text_field :realname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_birth %>
        <div class="input-group date" id="datepicker">
          <%= f.text_field :date_of_birth, class: 'form-control', value: @user.date_of_birth.try(:strftime,'%d-%m-%Y'), placeholder: '01-01-2000' %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :education %>
        <%= f.text_field :education, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :aboutme %>
        <%= f.text_field :aboutme, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :new_password %>
        <%= f.password_field :new_password, placeholder: 'leave blank if unchanged', autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :new_password_confirmation, placeholder: 'leave blank if unchanged', autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <% if @user.avatar? %>
        <%= f.label :avatar, 'Profile Picture' %><br>
        <%= image_tag @user.avatar_url(:display, :class=>"profile-image") %><br>
        <%= link_to 'Remove Picture', user_delete_avatar_path(@user), :controller => :users, data: {confirm: 'Would you like to delete your avatar?'} %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :avatar, 'New Picture' %>
        <%= f.file_field :avatar %>
        <% f.hidden_field :avatar_cache %>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#datepicker').datetimepicker({
        format: 'DD-MM-YYYY',
        viewMode: 'years',
        minDate: '01/01/1890',
        maxDate: Date.now()
    });
  });
</script>

