<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">  <%= title %>  </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <%= form_for @course, html: {class: "form"} do |f| %><br>
        <% if @course.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@course.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @course.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %><br>
          <%= f.number_field :price, min: 0, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :sport %><br>
          <%= f.select :sport, Course.get_all_sports.map {|sport| [sport, sport]}, {}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.label :max_participants %><br>
          <%= f.number_field :max_participants, min: 1, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :Address %><br>
          <%= f.text_field :address, class: "form-control", :readonly => true %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
        </div>

        <div class="form-group">
          <%= f.submit  class:"btn btn-primary pull-left"%>
        </div>

    <% end %>
  </div>

  <div class="col-md-7">
      <h5><b>Location</b></h5>
      <div id="map-container">
        <div id="map-canvas"></div>
            <div id="geocoding_fields">
              <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
              <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
            </div>
      </div>
  </div>
</div>

<script type="text/javascript">
    $('#geocoding_fields').show();
</script>
