<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Courses
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Title</th>
              <th>Coach</th>
            </tr>
            </thead>
            <tbody>
            <% @courses.each do |course| %>
                <tr>
                  <td><%= course.title %></td>
                  <td><%= course.coach.name %></td>
                  <td><%= link_to 'Show', course_path(course) %></td>$
                  <!-- TODO : change user_signed_in? -->
                  <%# if user_signed_in? and current_user.id == course.coach_id %>
                      <td><%= link_to 'Edit', edit_course_path(course) %></td>
                      <td><%= link_to 'Destroy', course_path(course),
                                      method: :delete,
                                      data: { confirm: 'Are you sure?' } %> </td>
                  <% #end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->