<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Courses
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
            <% if @courses.present? %>
              <h2>Courses</h2>
              <table class="table">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Coach</th>
                </tr>
                </thead>
                <tbody>
              <% @courses.each do |course| %>
                  <tr>
                    <td><%= course.title %></td>
                    <td><%= course.coach.username %></td>
                    <td><%= link_to 'Show', course_path(course) %></td>
                    <% if user_signed_in? and current_user.id == course.coach_id %>
                        <td><%= link_to 'Edit', edit_course_path(course) %></td>
                        <td><%= link_to 'Destroy', course_path(course),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %> </td>
                    <% end %>
                  </tr>
              <% end %>
                </tbody>
              </table>
            <% elsif type == :subscriptions %>
              <h2>You have no subscriptions yet</h2>
            <% elsif type == :coaches %>
              <h2>You have no coaches yet</h2>
            <% else %>
              <h2>No courses found with search terms : <%= params[:q][:title_or_description_cont] %></h2>
            <% end %>
<!--            <%# if @users.present? %>
                <h2>Users</h2>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Username</th>
                  </tr>
                  </thead>
                  <tbody>
                <%# @users.each do |user| %>
                    <tr>
                      <td><%#= user.title %></td>
                      <td><%#= link_to 'Show', profile_path(user) %></td>
                    </tr>
                <%#end %>
                </tbody>
                </table>
            <%# end %>-->

          <%= link_to 'Create Course', new_course_path %>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->