<!DOCTYPE html>
<html>
<head>
  <title>Coachup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("logo.png", :width => 150, :height => 35) %>
      <% end %>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <% if user_signed_in? %>
        <%= current_user.username %>
      <% else %>
        <%= link_to 'Sign Up', register_path %>
        <%= link_to login_path do %>
          <span class="glyphicon glyphicon-log-in"></span>
          Log In
        <% end %>
      <% end %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_profile_path(current_user) do %>
                <span class="glyphicon glyphicon-user"></span>
                Profile
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to logout_path do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Log Out
              <% end %>
            </li>
          <% else %>
            <li><%= link_to 'Sign Up', register_path %></li>
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                Log In
              <% end %>
            </li>
          <% end %>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <%= form_tag courses_path, method: "get" do %>
                <div class="input-group">
                  <%= search_field_tag 'q[title_or_description_cont]', nil, class: "form-control", placeholder: "Search courses..." %>
                  <span class="input-group-btn">
                <%= submit_tag 'Search', class: "btn btn-default" %>
              </span>
                </div><!-- /input-group -->
            <% end %>
            <!-- /input-group -->
          </li>
          <li>
            <%= link_to courses_path do %>
                <span class="glyphicon glyphicon-home"></span>
                Courses Overview
            <% end %>
          </li>
          <li>
            <%= link_to courses_by_my_coaches_index_courses_path do %>
                <span class="glyphicon glyphicon-tasks"></span>
                Courses By My Coaches
            <% end %>
          </li>
          <li>
            <%= link_to courses_i_am_subscribed_to_index_courses_path do %>
                <span class="glyphicon glyphicon-ok"></span>
                Courses I Am Subscribed To
            <% end %>
          </li>
          <li>
            <%= link_to my_courses_index_courses_path do %>
                <span class="glyphicon glyphicon-user"></span>
                My Courses
            <% end %>
          </li>
          <li>
            <%= link_to partnerships_path do %>
                <span class="glyphicon glyphicon-tasks"></span>
                My Partnerships
            <% end %>
          </li>
          <li>
            <%= link_to my_coaches_index_subscriptions_path do %>
                <span class="glyphicon glyphicon-tasks"></span>
                My Coaches
            <% end %>
          </li>
          <li>
            <%= link_to profiles_path  do %>
                <span class="glyphicon glyphicon-star"></span>
                User Profiles
            <% end %>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <% if notice %>
        <p class="alert alert-success cancel-wrapper-margin"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger cancel-wrapper-margin"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<% if (params[:controller] == 'courses' and params[:action] == "new") or (params[:controller] == 'courses' and params[:action] == "edit")%>
<script type="text/javascript">
    //$(document).ready(loadScript());
    $(document).ready(loadScript());
</script>
<% end %>

</body>
</html>
