<!DOCTYPE html>
<html>
<head>
  <title>Coachup</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("logo.png", :width => 150, :height => 35) %>
      <% end %>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <% if user_signed_in? %>
        <%= current_user.username %>
      <% else %>
        <%= link_to 'Sign Up', register_path %>
        <%= link_to login_path do %>
          <span class="glyphicon glyphicon-log-in"></span>
          Log In
        <% end %>
      <% end %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user) do %>
                <span class="glyphicon glyphicon-user"></span>
                Profile
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to logout_path do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Log Out
              <% end %>
            </li>
          <% else %>
            <li><%= link_to 'Sign Up', register_path %></li>
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                Log In
              <% end %>
            </li>
          <% end %>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <%= form_tag courses_path, method: "get" do %>
                <div class="input-group">
                  <%= search_field_tag 'q[title_or_description_cont]', nil, class: "form-control", placeholder: "Search courses...",
                                       value: params[:q] && params[:q][:title_or_description_cont]|| ""%>
                  <span class="input-group-btn">
                <%= submit_tag 'Search', class: "btn btn-default" %>
              </span>
                </div><!-- /input-group -->
            <% end %>
            <!-- /input-group -->
          </li>
          <li>
            <%= link_to courses_path do %>
                <span class="glyphicon glyphicon-home"></span>
                Courses Overview
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <a id="courses_button" href="#">
                <i class="glyphicon glyphicon-tasks" ></i> Courses<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level collapse" id="courses_submenu">
                <li>
                  <%= link_to user_subscriptions_path(current_user) do %>
                      <span class="glyphicon glyphicon-ok"></span>
                      Courses Taken
                  <% end %>
                </li>
                <li>
                  <%= link_to user_courses_path(current_user) do %>
                        <span class="glyphicon glyphicon-ok"></span>
                        Courses Given
                  <% end %>
                </li>
                <li>
                  <%= link_to coaches_courses_user_subscriptions_path(current_user) do %>
                      <span class="glyphicon glyphicon-ok"></span>
                      Courses By My Coaches
                  <% end %>
                  <%= link_to partnerships_courses_path do %>
                      <span class="glyphicon glyphicon-ok"></span>
                      Courses By My Partners
                  <% end %>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>

            <li>
              <%= link_to partnerships_path do %>
                  <span class="fa fa-users"></span>
                  My Partnerships
              <% end %>
            </li>
            <li>
              <%= link_to coaches_user_subscriptions_path(current_user) do %>
                  <span class="fa fa-user-secret"></span>
                  My Coaches
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to users_path do %>
                <span class="glyphicon glyphicon-star"></span>
                User Profiles
            <% end %>
          </li>


        <% if user_signed_in? %>
            <li>
              <a href="#"><i class="glyphicon glyphicon-calendar" ></i> Upcoming Sessions
                <input type="checkbox" data-size="mini" name="my-checkbox"checked>
              </a>
            </li><br>
            <div id="session">
              <ul class="event-list">
            <% @sessions = current_user.get_next_sessions %>
              <% if @sessions == false %>
                  <%= link_to 'Apply for a course!' , courses_path %>
              <% elsif !@sessions.nil? %>
                <% @sessions.each do |session| %>
                  <li>
                    <time datetime="2014-07-20">
                      <span class="day"><%= session.date.strftime("%d") %> </span>
                      <span class="month"><%= session.date.strftime("%b") %></span>
                    </time>
                    <div class="info">
                      <h2 class="title"> <%= session.course.title %>
                       </h2>

                    </div>
                    <div class="social">
                      <ul>
                        <li><%= link_to course_path(session.course) do%>
                              <span class="glyphicon glyphicon-chevron-right "></span>
                            <% end %>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
              <% else %>
                  <%= 'You have no sessions within a year!' %>
              <% end %>
              </ul>
            </div>
        <% end %>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <% if notice %>
        <p class="alert alert-success cancel-wrapper-margin"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger cancel-wrapper-margin"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<% if (params[:controller] == 'courses' and params[:action] == "new") or (params[:controller] == 'courses' and params[:action] == "edit")%>
<script type="text/javascript">
    $(document).ready(loadScript());
</script>
<% end %>

<script type="text/javascript">
$("[name='my-checkbox']").bootstrapSwitch();
$(document).ready(function()
{
    $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function (e, data)
    {
        var state=$(this).bootstrapSwitch('state');//returns true or false
        if(state)
        {
            $("#session").show();
        }
        else
        {
            $("#session").hide();
        }
    });
});
</script>
</body>
</html>
